@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,800;1,800&display=swap');
@import './variables.css';

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#info-text {
  font-size: 0.9rem;
  opacity: 0.5;
  margin-top: -0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h1 {
    font-size: 4rem;
    line-height: 0.8;
  }
  p {
    max-width: 25pc;
  }
}

#loadingPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  display: grid;
  place-items: center;
  background: var(--bg, white);
  transition: opacity 0.2s ease;
  transition-delay: 10s;
  pointer-events: none;
  #loadingPopupContent {
    max-width: 50pc;
  }
}

#chatForm {
  display: flex;
  gap: 1rem;
  position: relative;
  font-weight: 400;
  font-size: 0.8;
  .msg_remaning {
    position: absolute;
    right: 0;
    top: -1.5rem;
  }
  input {
    width: 100%;
  }
  button#sendButton {
    white-space: nowrap;
  }
}

#chat {
  #chatMessages {
    height: 80vh;
    display: flex;
    width: 80vw;
    gap: 2rem;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    padding-inline: 0.5rem;
    margin-bottom: 1rem;

    scroll-behavior: smooth;

    .msg {
      display: grid;
      grid-template-columns: 1rem auto;
      grid-template-rows: 1rem auto;
      column-gap: 0.5rem;
      row-gap: 0.25rem;

      max-width: 80%;
      padding: 0.5rem;
      border-radius: 0.25rem;

      position: relative;

      .message_emoji {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .message_name {
        font-weight: 500;
        font-size: 0.8rem;
        opacity: 0.6;

        display: flex;
        justify-content: row-start;
        align-items: center;
      }
      .message_text {
        font-size: 1.2rem;

        grid-area: auto / auto / auto / span 2;
      }
    }
    .msg.my_msg {
      background: var(--primary, #fed790);
      place-self: flex-end;
    }
    .msg.opponent_msg {
      background: var(--secondary, #8bbfdf);
      place-self: flex-start;
    }
    .msg::after {
      content: '';
      height: 0;
      width: 0;

      position: absolute;
      bottom: -1.5rem;
      
      border-width: 1rem;
      border-style: solid;
      border-radius: 0 0 1rem 1rem / 0 0 0.5rem 0.5rem;
    }

    .msg.my_msg::after {
      border-color: var(--primary, #fed790) var(--primary, #fed790) transparent transparent;
      right: auto;
      right: 0;
    }
    .msg.opponent_msg::after {
      border-color: var(--secondary, #8bbfdf) transparent transparent var(--secondary, #8bbfdf);
      right: auto;
      left: 0;
    }
  }
}
