@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,800;1,800&display=swap');
@import './variables.css';
@import './scroll.css';
body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#loadingPopup {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 99999999999999999;
  top: 0;
  left: 0;
  background: var(--background, white);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: -0.3s;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  h1 {
    font-size: 4rem;
    line-height: 0.8;
  }
  #pages {
    & > * {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      height: 0;
    }
    & > *[data-active='true'] {
      opacity: 1;
      pointer-events: all;
      height: auto;
    }
    #page_enter_nickname {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 20rem;
        select,
        button {
          width: 100% !important;
          margin: 0;
          position: relative;
          padding: 0;
          padding-block: 0.5rem;
          text-align: center;
        }
        button {
          background: var(--accent, purple);
          color: white;
        }
      }
    }
    #page_choose {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & > .welcome_message {
        padding: 0rem 2rem 5rem 2rem;

        display: flex;
        flex-direction: column;

        & > .top {
        }
        & > .bottom {
        }
      }

      & > .opponents_online_container {
        display: flex;
        flex-direction: column;

        & > span {
        }

        & > #opponents_online {
          background-color: var(--secondary, #8bbfdf);

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;

          max-height: 50vh;

          overflow-y: scroll;

          padding: 1.5rem 2rem;

          gap: 1rem;
          border-radius: 0.25rem;

          position: relative;
          border: 0.25rem solid var(--secondary);
          // &::after {
          //   position: fixed;
          //   display: flex;
          //   content: '';

          //   width: 100%;
          //   height: 100%;
          //   inset: 0;

          //   background-color: red;
          // }

          & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            gap: 1rem;
            border-radius: 0.25rem;

            background-color: var(--background, #fcf9f4);

            & button {
              
            }
          }
        }
      }
    }
  }
  #leaveLing {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 5;
  }

  .challenges_container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 8903485903489058349085903485903490589034;
    padding: 0.5rem;

    max-height: calc(100vh - 4rem);

    // background: var(--background, white);
    & > #challenges {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background: var(--primary, #8bbfdf);
        border-radius: 0.25rem;
        transition: opacity 0.2s ease;
        & > button {
          background: var(--accent, purple);
          color: white;
        }
        & > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 20ch;
        }
      }
    }
  }
}
