#gameOver {
  background: var(--bg, #fff);
  position: fixed;
  z-index: 10000;
  inset: 0;
  padding: 1rem;
}

#gameOver_canvas {
  margin-top: 3rem;

  width: 50rem;

  margin-inline: auto;

  #gameOver_header {
    width: 100%;
    text-align: center;
  }

  .card {
    background: var(--primary, yellow);
    height: 10rem;
    width: 100%;
  }

  #main_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .card {
      font-size: 4rem;
      overflow: hidden;
      position: relative;
      .card_background {
        position: absolute;
        right: -4rem;
        bottom: -3.5rem;
        font-size: 12rem;
      }

      .card_text {
        position: absolute;
        left: 0.5rem;
        bottom: 0rem;
        text-align: right;
      }
      .vs {
        position: absolute;
        color: purple;
      }
    }

    .card:nth-child(2) {
      background: var(--secondary, blue);

      .card_background {
        left: -22rem;
        bottom: -3.5rem;
        transform: scaleX(-1);
      }
      .card_text {
        right: 0.5rem;
        bottom: 0rem;
        text-align: right;
      }
      .vs {
        position: absolute;
        color: black;
      }
    }

    .vs {
      position: absolute;
      color: green;
      font-size: 20rem;
      line-height: 10rem;
    }
  }

  h2 {
    font-size: 3rem;
    span {
      background: var(--accent, purple);
      color: white;
      padding-inline: 1rem;
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    }
  }
}
