@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,800;1,800&display=swap');
@import './variables.css';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h1 {
    font-size: 4rem;
    line-height: 0.8;
  }
  p {
    max-width: 25pc;
  }
}
