:root {
  --text: #1a1407;
  --background: #fcf9f4;
  --primary: #fed790;
  --secondary: #8bbfdf;
  --accent: #8363d4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  font-family: 'Jetbrains Mono', 'Inter', 'Roboto', monospace;
  background: var(--background, white);
  color: var(--text, black);
  font-weight: 800;
}

p {
  opacity: 0.8;
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  background: var(--primary, beige);
  padding: 0.6rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

label {
  color: var(--accent, #8363d4);
}

input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  background: var(--secondary, #8bbfdf);
  font-family: 'Jetbrains Mono', 'Inter', 'Roboto', monospace;
}

select {
  all: unset;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--primary, #8bbfdf);
  position: relative;
  position: relative; /* śEnsure select is positioned relative */
  padding-right: 1.8rem; /* Adjust for the arrow space */
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For older Safari */
  -moz-appearance: none; /* For older Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10" style="border-radius: 0.125rem;"><polygon points="0,0 10,0 5,5"/></svg>'); /* Arrow SVG */
  background-repeat: no-repeat;
  background-position: 98% 60%; /* Adjust the position */
  padding-right: 1.5em; /* Adjust for the arrow space */
  font-family: 'Jetbrains Mono', 'Inter', 'Roboto', monospace;
}

option:disabled {
  opacity: 0.8;
}

option,
input,
select {
  position: relative;
}

input:disabled,
select:disabled,
option:disabled {
   
}
